#mapaContainer {
}

@media screen and (max-width: 560px) {
  #mapaContainer {
    background-color: white !important;
    border-radius: 24px;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0.7%;
  position: relative;

  z-index: 1000;
}
.input-search-map {
  width: 360px;
  max-width: 450px !important;
  min-width: 250px !important;
}
.input.search-map:focus {
  outline: none;
  border: 12px solid #ec0000 !important;
  box-shadow: 0 0 0 2px #ff0000 !important;
}
@media screen and (max-width: 1022px) {
  .input-search-map {
    width: 160px;
  }
}
@media screen and (max-width: 767px) {
  .input-search-map {
    width: 400px;
  }
}
@media screen and (max-width: 462px) {
  .input-search-map {
    width: 260px !important;
  }
}
